<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.mykroft">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".views.MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".views.EmailActivity"
            android:label="Provide your details" />
        <activity
            android:name=".views.LoginActivity"
            android:label="Log in" />
        <activity
            android:name=".views.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".views.L200Activity"
            android:label="200Level(UG)" />
        <activity
            android:name=".views.CourseActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.MainCourseActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.VideoPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"
            android:label=""
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".views.IntroActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>